@charset "UTF-8";

#memNav{
	font-size: 10pt;
}

#memNav li a{
	color: #000;
}

#memNav li a:hover {
	color: #ccc;
}

#productNav li a{
	color: #000;
}

#productNav li a:hover {
	color: #ccc;
}

.body_contents{
	width: 100%;
	padding: 150px 15% 15% 0;
}

.dropdown:hover .dropdown-menu{
	display: block;
	margin-top: 0;
}

#productSearch{
	width: 75%;
	border-style: none;
	padding-left: 10px;
}

#searchBtn{
	width: 20%;
	height: 30px;
}

/* footer CSS */
#mainFooter{
	width: 100%;
	padding: 7% 3% 10% 3%;
}

.footer_logo{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #000;
	padding-left: 10%;
}

.footer_logo>h3>a{
	text-decoration: none;
	color: #000;
	font-size: 14pt;
}

.company, .bank{
	display: inline-block;
	float: left;
	margin-top: 30px;
	margin-left: 8%;
	padding: 0 30px 0 30px;
}

.bank{
	border-left: 1px solid #ccc;
}

.right_footer{
	border-left: 1px solid #ccc;
	margin-top: 30px;
	padding: 0 30px 60px 30px;
	display: inline-block;
	margin-left: 8%;
}

.name{
	color: #a2a2a2;
	font-size: 8pt;
	font-weight: bold;
	padding-right: 10px;
}
.cs .value{
	color: #000;
	font-size: 10pt;
	padding-right: 10px;
}

.footer_title{
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

.bank_info p{
	margin-bottom: 5px;
}

.bank_info span{
	font-size: 9pt;
}

.main_title{
	text-align: center;
	font-size: 14pt;
	padding: 10px;
	margin-top: 10%;
	margin-bottom: 5%;
}

.main_body{
	width: 100%;
	padding: 0 13%;
}

.cs .project{
	background-color: #de3131cf;
}

.cs .project>a{
	text-decoration: none;
	color: #fff;
}

.cs .project>a:hover {
	color: #000;
}

.cs .location>a{
	text-decoration: none;
	color: #fff;
}

.cs .location>a:hover {
	color: #000;
}

/* company CSS */

.map_body{
	width: 100%;
	padding: 8% 3% 2% 3%;
}
#map{
	border: 1px solid #000;
}
.company_project .table_title, .company_project .table_content{
	padding: 5px;
}

.company_project .table_title{
	text-align: right;
}

.company_project>h2{
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}



















