@charset "UTF-8";

/* 커뮤니티 CSS */

.comu_menu{
	width: 100%;
	padding: 8% 8% 2% 8%;
}

.comu_body{
	width: 100%;
	padding: 0 12% 0 12%;
}

.comu_title{
	font-size: 14pt;
}

.nav-tabs li a{
	text-decoration: none;
	color: #000;
}

.comu_paging{
	position: relative;
	text-align: center;
}

.qna_list_btn, .qna_btn_group{
	display: inline-block;
}

.qna_btn_group{
	margin-left: 85%;
	margin-bottom: 3%;
}

.qna_reply_form{
	border-top: 1px solid #ccc;
}

.table-bordered{
	margin-top: 20px;
}

.table-condensed{
	border: 1px solid #ccc;
}

#qnaReplyId{
	text-align: right;
}

.pwd_popup_form{
	border: 1px solid #000;
}

.pwd_popup_form>input[type="password"]{
	width: 50%;
	height: 40px;
	text-align: center;
	border-radius: 4px;
}

.qna_contents td{
	text-align: left;
}

.comu_title_a{
	text-decoration: none;
	color: #000;
}

.comu_title_a:hover {
	color: #777;
}

.comu_body table th, .comu_body table td{
	text-align: center;
}

.comu_menu>.container>h2{
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}

.qna_contents .glyphicon-camera{
	padding-left: 10px;
	padding-right: 10px;
	color: #777777b5;
}

.qna_contents .glyphicon-lock{
	color: #e69d12d1;
}

.qna_contents a{
	text-decoration: none;
	color: #000;
}

.qna_contents a:hover {
	color: #ccc;
}

