@charset "UTF-8";

.member_body{
	width: 100%;
	padding: 8% 8% 2% 8%;
}

/* 로그인 */
.login_border{
    border: 1px solid #757171;
    width: 500px;
    margin: 10px auto 7px;
    padding: 27px 0 30px 0;
    border-radius: 10px;
}

.login_border>h2{
	color: #000;
	text-align: center;
	margin: 0 0 50px 0;
}

.login_form>input{
	width: 70%;
	height: 40px;
    margin-left: 15%;
    margin-bottom: 10px;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#loginBtn, #naver_login{
	width: 34%;
	height: 45px;
	margin-left: 15%;
}

#joinBtn, #google_login{
	width: 35%;
	height: 45px;
}

.login_btn{
	margin-top: 30px;
	margin-bottom: 10px;
}

.login_outside{
	margin-bottom: 30px;
}

.login_option>span>small>a{
	text-decoration: none;
	color: #000;
}

#searchIdPwd{
	margin-left: 15%;
	margin-right: 35%;
}

/* 회원가입 */
#memberJoinTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
}

.user_agree_title{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 20px  20px 0 20px;
}

.user_agree_title>p{
	margin : 0;
}

.agree_left{
	float: left;
	width: 50%;
	padding-right: 20px;
}

.agree_right{
	float: right;
	width: 50%;
}

.agree_left>p, .agree_right>p{
	padding-top: 10px;
}

.user_agree_contents{
	overflow: auto;
    height: 110px;
    padding: 20px;
    border: 1px solid #e7e7e7;
    background: #fff;
}

.join_btn_group{
	display: inline-block;
	padding: 70px;
	padding-left: 40%;
}

.join_btn_group button{
	width: 100px;
	height: 40px;
	
}

.user_agree_check{
	border-bottom: 1px solid #000;
	padding: 10px 20px 30px 20px;
}

.user_agree_check label{
	padding-top: 20px;
}

.join_body{
	width: 100%;
	padding: 5% 8% 5% 8%;
}

.join_body .table > tbody > tr > th{
	border-top: none;
}
.join_body .table > tbody > tr > td{
	border-top: none;
}

#checkIdMsg, #checkPwNotice, #checkEmailMsg{
	color: #777;
	font-size: 8pt;
	
}


/* 배송주소록 */
.addressTitle{
	padding-bottom: 15px;
	margin-bottom: 0px;
	color: #000;
}
.orderTitle{
	margin: 38px 0 0px 0;
	overflow: hidden;
	padding-top: 100px;
	color: #000;
}
.address_wrap{
	border-bottom: 1px solid #c5b4b4e6;
    padding-bottom: 40px;
}
.recentaddr_wrap{
	border-bottom: 1px solid #c5b4b4e6;
	padding-bottom: 40px;
	padding-top: 40px;
}
.recentaddr_wrap .table{	
	border-top: none;
	border-bottom: 1px solid #e6e6e6;
}
.table.address_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.table.address_table label{
	margin-bottom: 0px;
}

/* 배송주소록 등록 */

.addressBookTitle{
	padding-bottom: 15px;
	color: #000;
	border-bottom: 1px solid #000;
}
.table.addressBook_table{

}
.zip_code_wrap{
	overflow: hidden;
}
.zip_code_wrap button{
	float: left;
}
.addrbase_wrap{
	overflow: hidden;
}
.addrdetail_wrap{
	overflow: hidden;
}

/* 마이페이지 */
.mypageTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
	margin-bottom: 0px;
	color: #000;
}
.mypage_info{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.mypage_info li{
	float: left;
    min-width: 68px;
    background: #fff;
    padding: 9px 16px 9px 0;
    list-style-type: none;
}
.mypage_info>ul{
	float: left;
    margin-top: 11px;
    padding: 0px 100px 0px 14px;
}
.mypage_info ul li .mypageInfoLabel{
	font-size: 14px;
	color: #000;
	margin-left: 14px;
}
.mypage_info li .value {
	font-size: 14px;
    color: #000;
    margin: 5px 0 0 15px;
}
.benefit_group{
	display: table;
    margin-left: 0;
    padding: 2px 0 2px 0;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
   	font-size: 14px;
}
.benefitInfo{
	display: table-cell;
    vertical-align: middle;
    width: 145px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
}
.benefitprint{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
   	font-size: 14px;
}

.orderList_wrap{
	margin-top: 38px;
}
.orderList_titleandbtn{
	overflow: hidden;
}
.orderListTitle{
    float: left;
    color: #000;
    font-weight: 500;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.orderList_titleandbtn p{
	float: right;
    margin-top: 35px;
    margin-bottom: 0px;
}
.orderList_titleandbtn p>a{
	color: #000;
}
.orderList_titleandbtn p>a:hover{
	color: #949393;
}
.table.orderList_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.table.orderList_table tr td img{
	width: 50px;
    height: 50px;
    background: lightgray;
    font-size: 10px;
    margin: 0px;
}
.myPosting_wrap{
	margin-top: 38px;
}
.myPosting_titleandbtn{
	overflow: hidden;
	border-bottom: 1px solid #000;
}
.myPostingTitle{
	float: left;
    color: #000;
    font-weight: 500;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.myPosting_titleandbtn p{
	float: right;
    margin-top: 35px;
    margin-bottom: 0px;
}
.myPosting_titleandbtn p>a{
	color: #000;
}
.myPosting_titleandbtn p>a:hover{
	color: #949393;
}
.myPosting_wrap .reviewList{
	float: left;
	width: 50%;
}
.reviewList_wrap{
	margin: 0 15px 0 0px;
}
.reviewListTitle{
	margin: 10px 0 10px 0;
	font-size: 14px;
}
.table.reviewList_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.qnaList{
	float: right;
	width: 50%;
}
.qnaList_wrap{
	margin: 0 0px 0 15px;
}
.qnaListTitle{
	margin: 10px 0 10px 0;
	font-size: 14px;
}
.table.qnaList_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

/* 회원정보 수정*/
#memberModifyTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
	color: #000;
}
.form-horizontal.modify_Form{
	margin-top: 30px;
}
.form-horizontal.modify_Form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
#modifyPasswordRule{
	color: #777;
	font-size: 10pt;
}
.modify_btn_group {
    text-align: center;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid #000;
}
.modify_btn_group button{
	width: 100px;
	height: 40px;
}


/* 회원 쿠폰  */
#couponTitle{
	padding-bottom: 15px;
	margin-bottom: 0px;
	color: #000;
}
.table.coupon_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.coupon_paging {
	text-align: center;
}
.couponForm_wrap{
	margin-top: 30px;
}
.couponForm{
	margin: 10px auto 7px;
	border: 1px solid #ccc;
}
.couponFormGroup{
    width: 500px;
    margin: 0px auto 0px;
    padding: 27px 0 30px 0;
}
.couponFormGroup .col-sm-9{
	padding-left: 6px;
    padding-right: 10px;
}
.couponForm .couponFormGroup button{
	color: #fff;
    background-color: #000;
    border-color: #ccc;
}
.couponForm .form-control{
	margin-left: 0px;
}

.couponGuide_wrap{
	margin-top: 30px;
}
.couponGuide{
	padding: 20px;
	border: 1px solid #ccc;
}
.couponGuide ol{
    padding: 0px 16px 0px 13px;
    margin-bottom: 0px;
}


/* 적립금  */
.mileageTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
	margin-bottom: 0px;
	color: #000;
}
.mileage_info{
	border-bottom: 1px solid #000;
}
.mileage_info_value{
	margin-top: 20px;
	margin-bottom: 20px;	
}
.mileage_info_value ul{
	overflow: hidden;
}
.mileage_info_value ul li{
	list-style: none;
	float: left;
    margin: 5px 0;
    padding: 0 20px 0 27px;
    width: 50%;
    height: 20px;
}
.mileage_info_value ul strong{
    float: left;
    width: 50%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}
.mileage_info_value ul span{
	    float: left;
    width: 50%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.table.mileage_table{
	margin-top: 35px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.mileage_paging{
	text-align: center;
}
.mileageGuide_wrap{
	margin-top: 30px;
}
.mileageGuide{
	padding: 20px;
	border: 1px solid #ccc;
}
.mileageGuide ol{
    padding: 0px 16px 0px 13px;
    margin-bottom: 0px;
}


/* 내가 쓴 글 */
.myQna_wrap{
	border-bottom: 1px solid #c5b4b4e6;
    padding-bottom: 40px;
}
.myQnaTitle{
	padding-bottom: 15px;
	margin-bottom: 0px;
	color: #000;
}
.table.myQna_table{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.table.myQna_table label{
	margin-bottom: 0px;
}
.myposting_paging{
	text-align: center;
}
.myReview_wrap{
	border-bottom: 1px solid #c5b4b4e6;
    padding-bottom: 40px;
    padding-top: 40px;
}
.myReview_wrap ul{
	margin: 0;
    padding: 0;
}
.myReviewTitle{
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
	margin-bottom: 0px;
	color: #000;
}
.myReview_inner{
	overflow: hidden;
}
.myReview_top_menu{
    border: 1px solid #e1e1e1;
    margin-top: 18px;
    margin-bottom: 33px;
    height: 51px;
    box-sizing: content-box;
}
.top_menu_left li{
    padding: 10px 20px;
    line-height: 31px;
    max-width: 100%;
    float: left;
    list-style-type: none;
}
.top_menu_right{
    float: right;
    right: 0;
    line-height: 51px;
}
.top_menu_li{
	display: inline-block;
    height: 51px;
    border-left: 1px solid #e1e1e1;
    float: left;
    list-style-type: none;
}
.top_menu_li.li_action{
    width: 145px;
}
.top_menu_right a{
	color: #b7b7b7;
    cursor: pointer;
    line-height: 51px;
    display: block;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}
.form-control.searchInput{
	display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    transition: width 0.3s;
    margin-left: 10px;
}
.top_menu_search .btn{
	margin-right: 10px;
}
.myreview_List{
	margin-top: 10px;
    padding-top: 10px;
        border-bottom: 1px solid #dadada;
}
#reviews_1{
	    position: relative;
    border-top: 1px solid #dadada;
    padding-top: 30px;
    padding-bottom: 8px;
        list-style-type: none;
}
.reviews_a1{
    position: absolute;
    min-width: 90px;
    text-decoration: none;
    cursor: pointer;
}
.reviews_a1 img{
	width: 150px;
	height: 150px;	
	background-color: #e6e6e6;
}
.reviews_2{


    padding-right: 145px;
    padding-left: 170px;
}
.reviews_score{
	    color: #a4a4a4;
	
}
.reviews_title{
    display: inline-block;
    line-height: 17px;
    max-width: 100%;
	overflow: hidden;
}

.review_tags{
	float: right;
    padding-left: 3px;
	
}
.reviews_index{
	font-size: 10px;
    margin-left: 3px;
    color: #999;
    padding: 2px 3px;
    border: 1px solid #aaa;
    border-radius: 3px;
    line-height: 11px;
}
.reviews_a2{
	overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #323232;s
    white-space: nowrap;
    font-weight: bold;
        text-decoration: none;
    cursor: pointer;
    padding-bottom: 1px;
}
.top_star:first-child{
	    margin-left: 2;
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}
.star_rating{
	display: inline-block;
    width: 12px;
    height: 12px;
}
.reviews_camera{
	display: inline-block;
}
.camera{
	    max-height: 17px;
    width: auto;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.content_expanded{
	    position: relative;
    width: 100%;
}
.content_msg{
	    padding-top: 13px;
    padding-bottom: 5px;
    padding-bottom: 20px;
}
.review_options{
	    font-size: 12px;
    border: 1px solid #dadada;
    padding: 15px;
    margin-bottom: 18px;

    max-width: 800px;
}
.review_option:first-child{
	margin-top: 0;
}
.review_option{
	margin-top: 4px;
	overflow: hidden;
}
.review_option_title{
	    float: left;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15%;
}
.review_option_content{
    float: left;
    color: #777;
    width: 85%;
}
.review_msg{
	line-height: 1.6;
    word-wrap: break-word;
	
}
.reviws_reply_wrap{
	    padding-bottom: 20px;
}
.reply_name{
	    line-height: 25px;
    text-align: left;
    border: 1px solid;
	
}
.reply_name span{
	font-weight: bold;
	border-right: 1px solid;
    padding-right: 20px;
    padding-left: 20px;
}
.reply_content{
	    padding-left: 20px;
		display: inline-block;
}
.reply_label{
	display: inline-block;
    margin-right: 20px;
    margin-left:20px
}
.myreview_row{
	margin-top:30px;
}
.myreview_paging{
	    text-align: center;
}
.edit_trash_btn{
	float: right;
}
.edit_trash_btn button{
width: 70px;
    height: 35px;
	padding: 0px;
}