@charset "UTF-8";

.order_list_body{
padding: 50px 50px;
margin: 50px 50px;
}
#serchContents{
text-align: center;
}
.searchDay{
margin:0 auto;
padding:30px 30px 30px 30px;
}
#listPage{
text-align: center;
padding: 20px 20px;
}
.pagination{
margin: 0 auto;
}
.serchBtn{
padding: 0 10px 10px 10px;
}
.serchBtn>button{
padding-right: 10px;
}
.listTable{
width:100%;
}
.listTable tr td img{
width: 50px;
height: 50px;
background: lightgray;
font-size: 10px;
}

.listTitle{
border-top:solid 1px black;
border-bottom:solid 1px black;
}

#listTitle{
border-bottom:solid 1px black;
padding-bottom: 15px;
}

tr,td,th{
padding: 20px 20px;
font-size: 10pt;
}
.order_date_input{
padding: 5px 5px;
}


/* 주문 상세(detail) CSS */
.order_detail_body{
padding: 50px 50px;
margin: 50px 50px;
}

/* 장바구니 CSS*/
#cartMainDiv{ 
	width:80%!important;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}  
#cartTable{
	width:100%;
	border-bottom: hiddien;
	margin-bottom: 5px;
}
#cartTitle{
	border-top:hidden;
	border-bottom: 1px solid black!important;
}
#cartTitle th{
	font-size: 14px;
	text-align: center;
}
#cartContents{
	border-bottom: 1px solid #000;
}
#cartContents td{
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
#cartContents p{
	background:#ccc;
	width: 104px;
	height: 104px;
	vertical-align: middle;
}
h2{
	border-bottom-style: solid;
	height: 40px;
}
#cartListBtn button{
	background: #CCC;
	color: black;
	margin: 2px;
	border: none;
	border-radius: 4px;
	height: 35px;
	font-size: 10px;
}
#cartListBtn2 button{
	background: #CCC;
	color: black;
	margin: 2px;
	border: none;
	border-radius: 4px;
	height: 35px;
	font-size: 10px;
}
#cartDetailList{
	text-align: left!important;
}
#cartDetailListDiv{
	display: inline-block;
	margin: 0px;
	text-align: left;
}
#cartDetailListDiv div{
	float:left;
	margin-bottom: 5px;
	text-align: left;
}
#cartDetailListDiv p{
	margin-bottom: 0px;
}
#cartDetailListDiv ul{
	margin-bottom: 0px;
	font-size: 10px;
	height: 104px;
}
#cartDetailListDiv li {
	height: auto;
	border: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
}
#cartDetailListDiv li button{
	font-size: 10px;
	background: #ccc;
}
#productQuantity div{
	float: left;
}
#productQuantity div input{
	width: 50px;
}
#productQuantity div button{
	height: 27px;
	width: 50px;
	font-size: 10px;
	border-radius: 0px;
}
#cartDetailList2{
	text-align: left!important;
}
#cartDetailListDiv2{
	display: inline-block;
	margin: 0px;
}
#cartDetailListDiv2 div{
	float:left;
	margin-bottom: 5px;
}
#cartDetailListDiv2 p{
	margin-bottom: 0px;
}
#cartDetailListDiv2 ul{
	margin-bottom: 0px;
	font-size: 10px;
	text-align: left;
	height: 104px;
}
#cartDetailListDiv2 li {
	height: auto;
	border: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
}
#productQuantity2 div{
	float: left;
}
#productQuantity2 div input{
	width: 50px;
}
#productQuantity2 div button{
	height: 27px;
	width: 50px;
	font-size: 10px;
	border-radius: 0px;
}
#cartDetailListDiv2 li button{
	font-size: 10px;
	background: #ccc;
}
#cartCRUDBtn button{
	background: #CCC;
	color: black;
	margin: 2px;
	border: none;
	border-radius: 4px;
	height :35px;
	font-size: 10px;
}
#AllPriceTab{
	margin-top: 25px;
}
#AllPriceTab th,td{
	text-align: center;
	font-size: 14px;
}
#paidUpdateBtn{
}
#paidUpdateBtn button{
	background: #CCC;
	color: #000;
	font-size: 14px;
	border: hidden;
	margin:2px;
	border-radius: 4px;
}
#cartInfo p{
	margin-top: 25px;
	height: 200px;
	text-align: center;
	fontsiz:14px;
	background: #CCC;
}
