@charset "UTF-8";

.order_list_body{
padding: 50px 50px;
margin: 50px 50px;
}
#serchContents{
text-align: center;
}
.searchDay{
margin:0 auto;
padding:30px 30px 30px 30px;
}
#listPage{
text-align: center;
padding: 20px 20px;
}
.pagination{
margin: 0 auto;
}
.serchBtn{
padding: 0 10px 10px 10px;
}
.serchBtn>button{
padding-right: 10px;
}
.listTable{
width:100%;
}
.listTable tr td img{
width: 50px;
height: 50px;
background: lightgray;
font-size: 10px;
}

.listTitle{
border-top:solid 1px black;
border-bottom:solid 1px black;
}

#listTitle{
border-bottom:solid 1px black;
padding-bottom: 15px;
}

tr,td,th{
padding: 20px 20px;
font-size: 10pt;
}
.order_date_input{
padding: 5px 5px;
}


/* 주문 상세(detail) CSS */
.order_detail_body{
padding: 50px 50px;
margin: 50px 50px;
}
