@charset "UTF-8";

.product_body{
	width: 100%;
	padding: 8% 8% 2% 8%;
}

.title{
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}

.searchArray{
	border-bottom: 1px solid #000;
	padding-top: 15px;
}

#totalProductCount{
	display: inline-block;
	float: left;
}

.productArrayKeyword{
	display: inline-block;
	float: right;
}

.productArrayKeyword small strong a{
	text-decoration: none;
	color: #000;
}

.productArray{
	width: 100%;
	padding: 5% 2% 5% 2%;
	text-align: center;
	border-bottom: 1px solid #000;
}

.product_paging{
	text-align: center;
}

.search_keyword{
	margin: 10px;
}

#productSeachField{
	margin: 50px 0 30px 25%;
}

.product_search_btn{
	display: inline-block;
	margin-left: 150px;
	margin-top: 20px;
}

.product_search_btn>button{
	width: 120px;
	height: 40px;
}

#productTitle{
	margin: auto 100px;
	text-align: center;
}

.bs-example{
	text-align: center;
}
.colorbtn{
	background: red;
	align-items: right;
}
.colorbtn2{
	background: blue;
	align-items: right;
}

.cate{
	text-decoration:none;
	color:#000000;
	text-decoration:none !important;
}


.product_colorchip{
	float: right;
}
.product_price{
	font-size:14px;
}
.product_description{
	font-size:14px
}

.detail_top_left{
	float: left;
	width: 500px !important;
	height: 500px;
	display: block;
}

.detail_top_right{
	float: right;
	width: 500px !important;
	height: 500px;
	display: block;
}
.detail_hr{
	border: solid 1px gray;
}

.detail_top_left>img{
	max-width: 100%;
}
.detail_top_right{
	max-width: 100%
}
/* #sidebox { 
	background-color:#F0F0F0; 
	position:absolute; 
	width:84%;
	text-align:center;
	top:50%; 
} */
/* .bs-example{
	width:100%;
	text-align: center;
} */

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
